<%= form_with(model: @extensao_realizada, url: estudante_submeter_extensao_path, method: :post) do |f| %>
  <% if @extensao_realizada.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                   count: @extensao_realizada.errors.count,
                   resource: @extensao_realizada.class.model_name.human.downcase)
         %>
      </h2>
      <ul>
        <% @extensao_realizada.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :descricao %>
  <%= f.text_area :descricao %>

  <%= f.label :CargaHoraria %>
  <%= f.number_field :chHoraria %>
  
  <%= f.file_field :documentos, multiple: true %>

  <%= f.collection_select :extensao_id, Extensao.all, :id, :nome %>
  
  <%= f.submit %>
<% end %>
