<%= form_with(model: @extensao, url: coordenador_criar_extensao_path, method: :post) do |f| %>
  <% if @extensao.errors.any? %>
    <div id="error_explanation" data-turbo-cache="false">
      <h2>
        <%= I18n.t("errors.messages.not_saved",
                   count: @extensao.errors.count,
                   resource: @extensao.class.model_name.human.downcase)
         %>
      </h2>
      <ul>
        <% @extensao.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :nome %>
  <%= f.text_field :nome %>

  <%= f.label :descricao %>
  <%= f.text_area :descricao %>

  <%= f.label :chPossivel %>
  <%= f.number_field :chPossivel %>

  <%= f.label :chMax %>
  <%= f.number_field :chMax %>

  <%= f.label :atividade_id %>
  <%= f.grouped_collection_select :atividade_id, Modalidade.all, :atividades, :nome, :id, :nome %>
  <%= f.submit %>
<% end %>
