<%= stylesheet_link_tag 'layout/navbar.css' %>

<header class="container_navbar">
  <a class="left_image" href="/"><%= image_tag( root_url + "images/uenfLogo.png", height: "50", :alt => "Uenf Logo") -%></a>
  <div class="container_center">
    <% if current_usuario %>
      <% if current_usuario.coordenador? %>
        <%= button_to "Dashboard", coordenador_path, method: :get %>
      <% else %>
        <%= button_to "Dashboard", estudante_path, method: :get %>
      <% end %>
      <%= button_to "Deslogar", destroy_usuario_session_path, method: :delete, data: { turbo_method: :delete } %>
    <% else %>
      <%= button_to "Cadastrar", new_usuario_registration_path, method: :get %>
      <%= button_to "Login", new_usuario_session_path, method: :get %>
    <% end %>    
  </div>
  <div class="container_right">
    <% if current_usuario %>
      <span><%= current_usuario ? current_usuario.nome : "Guest" %></span>
    <% else %>
      <span>Guest</span>
    <% end %>
    <%= link_to(edit_usuario_registration_path) do %>
      <% if current_usuario && current_usuario.avatar.attached? %>
        <%= image_tag url_for(current_usuario.avatar), height: "50", :alt => "User Image"  %>
      <% else %>
        <%= image_tag(root_url + "images/guest.jpg", height: "50", :alt => "User Image") %>
      <% end %>
    <% end %>
  </div>
</header>



